trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_CACHE_FOLDER: $(Pipeline.Workspace)/.m2/repository
  MAVEN_OPTS: '-Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)'

stages:
  - stage: Build
    displayName: 'Build and Test'
    jobs:
      - job: BuildJob
        displayName: 'Maven Build'
        steps:
          # Clean Maven cache to avoid corrupted dependencies
          - script: |
              rm -rf $(MAVEN_CACHE_FOLDER)
              mvn dependency:purge-local-repository -Dmaven.repo.local=$(MAVEN_CACHE_FOLDER)
            displayName: 'Clean Maven cache'
            continueOnError: true

          - task: Maven@3
            displayName: 'Maven Package'
            inputs:
              mavenPomFile: 'pom.xml'
              goals: 'clean package'
              options: '-DskipTests=true'
              publishJUnitResults: false
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.21'
              mavenVersionOption: 'Default'
              mavenOptions: '-Xmx3072m'

          - task: CopyFiles@2
            displayName: 'Copy JAR to Staging'
            inputs:
              SourceFolder: '$(System.DefaultWorkingDirectory)/target'
              Contents: '*.jar'
              TargetFolder: '$(Build.ArtifactStagingDirectory)'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifact'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'

  - stage: Deploy
    displayName: 'Deploy to Azure'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - deployment: DeployJob
        displayName: 'Deploy to App Service'
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  displayName: 'Deploy to Azure App Service'
                  inputs:
                    azureSubscription: 'Azure subscription 1'
                    appType: 'webAppLinux'
                    appName: 'order-service-ismete'
                    package: '$(Pipeline.Workspace)/drop/*.jar'
                    runtimeStack: 'JAVA|21-java21'